# EditorConfig files are read top to bottom and the most recent rules found take precedence.
# See https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties for the
# list of all properties.

# top-most EditorConfig file
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
